.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.galery-item{
    flex: 1 1 220px;
    height: 370px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s;
}

.galery-item:hover{
    transform: scale(1.05);
}