.hero{
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgba(44, 24, 16, 0.55), rgba(44, 24, 16, 0.55)), url("../img/hero-picture.jpg");
    background-size: cover;
    background-position: center;    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 2.5rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.hero h1{
    font-family: var(--font-heading);
    color: var(--text-primary);
    font-size: 6rem;
    font-weight: 700;
}

.hero h2{
    font-family: var(--font-heading);
    color: var(--text-secondary);
    font-size: 2rem;
    font-weight: 400;
}

.hero p{
    font-family: var(--font-body);
    font-size: 1.2rem;
    max-width: 500px;
    margin: 0 auto;
    color: var(--text-secondary);
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }
}